.about_course_container {
  display: flex;
  justify-content: space-between;
}

.description_container {
  width: 70%;
}

.text_main {
  font-size: 25px;
  margin-left: 15px;
}

.text_about {
  margin-top: 10px;
  width: 100%;
}
