.main_container {
  background-color: whitesmoke;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.choose_color {
  display: flex;
  flex-direction: column;
}

.graph {
  width: 800px;
  height: 400px;
  background-color: rgb(239, 252, 252);
}

.text {
  margin-left: 20px;
  margin-top: 10px;
  font-size: 20px;
  margin-bottom: 10px;
}

.task_container {
  display: flex;
}

.chech_task {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}
