.main_container {
  width: 100vw;
  height: 100vh;
  position: absolute;
  z-index: 100;
  background-color: rgba(0, 0, 0, 0.479);
  display: flex;
  justify-content: center;
  align-items: center;
}

.content {
  display: flex;
  width: 400px;
  height: 600px;
  background-color: white;
  border-radius: 12px;
}
